<h1 style="font-size: 100pt">Word clouds from Chaos Communication Congress talks' titles and abstracts</h1>

<h2 style="font-size: 75pt"><a href="https://gitlab.com/maxigas/cccongresstalks">Data and background available on GitLab</a></h2>

<img src="1984.png" alt="1984">
<img src="1985.png" alt="1985">
<img src="1986.png" alt="1986">
<img src="1987.png" alt="1987">
<img src="1989.png" alt="1989">
<img src="1990.png" alt="1990">
<img src="1991.png" alt="1991">
<img src="1992.png" alt="1992">
<img src="1993.png" alt="1993">
<img src="1994.png" alt="1994">
<img src="1995.png" alt="1995">
<img src="1996.png" alt="1996">
<img src="1997.png" alt="1997">
<img src="1998.png" alt="1998">
<img src="1999.png" alt="1999">
<img src="2000.png" alt="2000">
<img src="2001.png" alt="2001">
<img src="2002.png" alt="2002">
<img src="2003.png" alt="2003">
<img src="2004.png" alt="2004">
<img src="2005.png" alt="2005">
<img src="2006.png" alt="2006">
<img src="2007.png" alt="2007">
<img src="2008.png" alt="2008">
<img src="2009.png" alt="2009">
<img src="2010.png" alt="2010">
<img src="2011.png" alt="2011">
<img src="2012.png" alt="2012">
<img src="2013.png" alt="2013">
<img src="2014.png" alt="2014">
<img src="2015.png" alt="2015">
<img src="2016.png" alt="2016">
<img src="2017.png" alt="2017">
<img src="2018.png" alt="2018">
<img src="2019.png" alt="2019">


